#navi {
	background-color:#320911;
	height: 80px;
	position: relative;
}
#navlogo {
	margin-left: 50px;
}
body {
	background-color: black;
}
.container {
  position: relative;
}

#headlogo {
  height: 350px;
  width: 50%;
  position: absolute;
  left: 30%;
  margin-left: -50px;
  top: 50%;
  margin-top: 50px;
}

a  {
	color: white;
	font-family: 'Crimson Text', serif;
}
p {
	color:black;
}
h1	{
	color: #fff;
	font-family: 'Crimson Text', serif;
}
h2{
	color: #fff;
	font-family: 'Crimson Text', serif;
	margin-top: 60px;
}
h4 {
	color:white;
}
h5{
	margin-top: 10px;	
	color: white;
	font-family: 'Crimson Text', serif;
}
h6{
	color:white;
}

/*Footer*/
a:hover{
	color: #DAA520 !important;
}
i {
	color: white;
}
#footer{
	height: 80px;
}
#foot{
	margin-top: 60px;
	width:50px;
	color: #e1c699;
}
#footlogo{
	margin-top: 10px;
}
#foot:hover{
	color: #DAA520 !important;
}
#a2{
	margin-top: 75px;
}
#a2:hover{
	color: #DAA520 !important;
}
btn-dark{
	height: 350px;

}
#media{
	margin-top: 8px;
	margin-left: 5px;
	padding-left: 30px;
}
.jumbotron{
	background-color: black;
	margin-top: 0px;
	margin-left: 30px;
	padding-top: 2px; 
}

/*style2*/

