* { margin: 0px; padding: 0px; }
body {
	 background: linear-gradient(to left,rgba(135, 0, 0, 0.5),rgba(25, 10, 5, 0.5)),url(img/background.jpg)
	 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-size: 120%;
	/*background: #F8F8FF;*/
}
#navi {
	background-color:#320911;
	height: 100px;
}

a  {
	color: white !important;
	font-family: 'Crimson Text', serif;
}
#a3  {
	color: #320911 !important;
	font-family: 'Crimson Text', serif;
}
a:hover{
	color: #DAA520 !important;
}
h2{
	font-family: 'Crimson Text', serif;
}
.navi {
	width: 100%;
	/*margin: 50px auto 0px;*/ 
	color: white;
	background: #320911;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
}
form, .content {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
/*login*/
.header2 {
	width: 40%;
	margin: 50px auto 0px;
	margin-top: 130px;
	color: white;
	background: #320911;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content2 {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
 #content3 {
	border: 1px solid #B0C4DE;
	border-radius: 10px 10px 0px 0px;
	background: white;
	}

 #content {
 	opacity: .9;
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	border-radius: 30px;
	background: white;
	
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user{
	font-family: 'Crimson Text', serif;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	font-family: 'Crimson Text', serif;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5E1717;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
/*upload*/
.header {
		background: #003366;
	}
	button[name=register_btn] {
		background: #320911 !important;
	}

   #content{
   	width: 50% !important;
   	margin: 20px auto !important;
   	/*border: 1px solid #cbcbcb;*/
   }
   form{
   	width: 50% !important;
   	/*margin: 20px auto !important;*/
   }
   #form2{
   	width: 40% !important;
   }
   form div{
   	margin-top: 5px !important;
   }
   #img_div{
   	width: 100% !important;
   	overflow:hidden;
   	/*border: 1px solid #cbcbcb;*/
   }
   #img_div:after{
   	content: "" !important;
   	display: block !important;
   	clear: both !important;
   }
   img{
   	float: center ;
    border-radius: 10px;
   	margin: 5px;
   	margin-top: 30px;
    max-width: 100%;
    height: auto;
    }
    #image_text{
    	width: 40%;
    }

 #p1{
 	background-color: white;
 }
 textarea{
  max-width: 100%;
  height: auto;	
 }

 /*table*/
 table{
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: #F5F5F5;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #320911;
    border: none;
    border-radius: 5px;

}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
/*comment*/
.card{
	max-width: 70%;
	margin-left: 18%;
	margin-bottom:20px;
	margin-top: 20px;
	position: absolute;
}
.card-body{
	font-family: 'Crimson Text', serif;
}
#footlogo{
	margin-top: 30px !important;
}

/*Footer*/
a:hover{
	color: #DAA520 !important;
}
i {
	color: white;
}

#foot{
	margin-top: 60px;
	width:50px;
	color: #e1c699;
}
#footlogo{
	margin-top: 10px;
}
#foot:hover{
	color: #DAA520 !important;
}
#a2{
	margin-top: 75px;
}
#a2:hover{
	color: #DAA520 !important;
}
btn-dark{
	height: 350px;

}
#media{
	margin-top: 8px;
	margin-left: 5px;
	padding-left: 30px;
}
.jumbotron{
	background-color: black !important;
	margin-left: 30px;
	padding-top: 2px;
}
#comments{
	background-color: #320911  !important;
	max-width: 70%;
	margin-left: 18%;
	margin-bottom:20px;
	margin-top: 20px;
	border-radius: 1%;
}
#display_comment{	
	max-width: 70%;
	margin-left: 5%;
	border-radius: 1%;
}
#comment_form{
	border:1px solid black;
	margin-top: 5%;
	border-radius: 1%;
	margin-right: 32%;
}








	

